/* This style is used for the class syllabus */

body{
    font-size: 16px;
}
  
h2{
    padding-bottom: 0.7cm;
}

h4{
    background-color: aliceblue;
    padding-bottom: 0cm;
    width: fit-content;
    font-weight: bold;
    margin-bottom: -0.05cm;
}
   
.info-general{
    margin-bottom: 0.25cm;
}

.description-section{
    margin-bottom: 0.5cm;
}

